# Node / TypeScript
node_modules/
dist/
*.js
*.js.map
*.d.ts
!jest.config.js
!lambda/**/*.py

# CDK
cdk.out/

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store

#Dotfiles 
.dotfiles/

# Config (contains credentials)
config.json
